body{
    padding: 50px 250px;
    background-color: gray;
}

h1{
    text-align: center;
}

.contenedor {
    position: relative;
    width: 800px;
    height: 400px;
    background-color: black;
    border-radius: 15px;
}

.button {
    padding: 10px 20px;
    text-align: center;
    margin-left: 350px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: georgia black;
}

.foto{
    position: absolute;
    top: 10%;
    width: 400px;
    height: 350px;
    left: 25%;
}

.contenedor a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 36px;
    top: 50%;
    transform: translateY(-50%);
}

.siguiente {
    left: 97%;
}




.puntos{
    position: absolute;
    top: 90%;
    width: 800px;
    text-align: center;
}
 
.punto {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 5px;
}

.punto:hover {
    cursor: pointer;
    background-color: rgb(92, 56, 56);
    text-align: center;
}

.contenedor a:hover {
    color: gray;
}

.actual {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity
}

.activo {
    background-color: rgb(92, 56, 56);
}